{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>About</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu elit at turpis rhoncus feugiat. Morbi sed velit velit. Aenean quis nulla sed metus porta vestibulum. Aliquam et nisl sodales, molestie tortor vel, elementum erat. Nunc sed vestibulum nisl, et aliquet magna. Praesent luctus maximus ex, a fermentum risus varius a. Maecenas suscipit neque a purus interdum maximus. Nam a urna nec est ornare eleifend. Maecenas vestibulum elit risus, vel blandit lectus aliquam ac. Pellentesque imperdiet lectus massa, vitae tempus arcu lobortis in. Nulla facilisi. Suspendisse potenti. Aliquam sit amet egestas nulla. Nullam imperdiet molestie odio, quis ornare erat pharetra id.</p>
    </div>
{% endblock %}

